---
layout: base
---

{% assign work_doc = site.works | where: "slug", page.work_id | first %}

{% assign effective_cover = page.cover-img %}
{% if effective_cover == nil and work_doc and work_doc.cover-img %}
  {% assign effective_cover = work_doc.cover-img %}
{% endif %}

{% include header.html type="post" cover_img=effective_cover %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">

      {% if page.gh-repo %}
        {% assign gh_split =  page.gh-repo | split:'/'  %}
        {% assign gh_user =  gh_split[0]  %}
        {% assign gh_repo =  gh_split[1]  %}

        <div id="header-gh-btns">
          {% if page.gh-badge.size > 0 %}
            {% for badge in page.gh-badge %}
              {% case badge %}
                {% when 'star'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=star&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'watch'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=watch&v=2&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'fork'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=fork&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'follow'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&type=follow&count=true" frameborder="0" scrolling="0" width="220px" height="20px"></iframe>
              {% endcase %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="blog-post">
        {{ content }}
      </div>

      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          <span>Tags:</span>
          {% for tag in page.tags %}
            <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
          {% endfor %}
        </div>
      {% endif %}

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}

      {%- assign prev_post = page.previous -%}
      {%- assign next_post = page.next -%}

      {%- if page.work_id and page.chapter -%}
        {%- assign siblings = site.posts | where: "work_id", page.work_id -%}

        {%- assign prev_chapter_num = nil -%}
        {%- assign next_chapter_num = nil -%}

        {%- for p in siblings -%}
          {%- if p.chapter -%}
            {%- if p.chapter < page.chapter -%}
              {%- if prev_chapter_num == nil or p.chapter > prev_chapter_num -%}
                {%- assign prev_chapter_num = p.chapter -%}
              {%- endif -%}
            {%- elsif p.chapter > page.chapter -%}
              {%- if next_chapter_num == nil or p.chapter < next_chapter_num -%}
                {%- assign next_chapter_num = p.chapter -%}
              {%- endif -%}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}

        {%- if prev_chapter_num != nil -%}
          {%- assign prev_post = siblings | where: "chapter", prev_chapter_num | first -%}
        {%- endif -%}

        {%- if next_chapter_num != nil -%}
          {%- assign next_post = siblings | where: "chapter", next_chapter_num | first -%}
        {%- endif -%}
      {%- endif -%}

      <ul class="pagination blog-pager">
        {% if prev_post and prev_post.url %}
          <li class="page-item previous">
            <a class="page-link" href="{{ prev_post.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{ prev_post.title | strip_html | xml_escape }}">
              <i class="fas fa-arrow-left" alt="Previous Post"></i>
              <span class="d-none d-sm-inline-block">Previous</span>
            </a>
          </li>
        {% endif %}

        {% if next_post and next_post.url %}
          <li class="page-item next">
            <a class="page-link" href="{{ next_post.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{ next_post.title | strip_html | xml_escape }}">
              <span class="d-none d-sm-inline-block">Next</span>
              <i class="fas fa-arrow-right" alt="Next Post"></i>
            </a>
          </li>
        {% endif %}
      </ul>

      {% include comments.html %}
    </div>
  </div>
</main>